name: Publish

on:
  push:
    branches:
      - master

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24.11.1"
          registry-url: "https://registry.npmjs.org"
      - name: Install modules
        run: npm ci
      - name: Build
        run: npm run build
      - name: Publish to npm
        run: npm publish
